body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.content{
    background-color: bisque;
    min-height: 80vh;
}
header {
    background-color: #412504;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav_panel {
    background-color: #412504;
    color: #a69c9c;
    padding: 10px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.nav_panel a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
}

.user-menu {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    color: #020202;
}

.nav_panel__container {
    display: flex;
    justify-content: center;
}