{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
    <script src="{% static 'chat/socket.js' %}"></script>
</head>
<body>

<div class="chat-container">
    <div class="chat" id="chat">
        <!-- Чатовые сообщения будут отображаться здесь -->
    </div>

    <div class="input-container">
        <input type="text" class="input-text" id="messageInput" placeholder="Введите текст сообщения">
        <button class="send-button" onclick="sendMessage()">Отправить</button>
    </div>
</div>



</body>
</html>
