{% load static %}
<div class="chat">
    <div class="chat__history">
        <div class="chat__scrollable">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="chat__send-message">
        <label>
            <input class="chat__input" type="text" placeholder="Type your message...">
        </label>
        <img class="chat__seng-ico" src="{% static 'game/img/send.png' %}" alt="send">

    </div>
</div>