{% extends 'my_auth/base.html' %}
{% load static %}
{% block meta_data %}
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}?v=1.4">
    <title>Game with ...</title>
    <style>
        .content {
            background-image: url("{% static 'game/img/fon.png' %}");
            background-size: cover;
        }
    </style>
    <script defer src="{% static 'game/js/game.js' %}?v={{ random_number }}.1"></script>
    <script defer src="{% static 'chat/chat.js' %}?v={{ random_number }}"></script>
{% endblock meta_data %}

{% block content %}
    <div class="game">
        {% include 'game/game-info.html' %}
        <div class="game-board" id="game-board">
            {#            <div class="game-board__squared" id="1"></div>#}
            {#            <div class="game-board__squared" id="2"></div>#}
            {#            etc...#}
        </div>
        {% include 'game/chat.html' %}
    </div>
{% endblock content %}