{% extends 'my_auth/base.html' %}
{% load static %}

{% block meta_data %}
    <script defer src="{% static 'game/js/localGame.js' %}?v={{ random_number }}"></script>
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}?v=1.4">

    <style>
        .content {
            background-image: url("{% static 'game/img/fon.png' %}");
            background-size: cover;
            flex-direction: column;
            justify-content: center;
        }

        .game-status {
            color: white;
            height: 100px;
            width: 549px;
            background-color: #1D181F;
            border-radius: 15px 0 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="game-status">
        Have a nice day!
    </div>
    <div class="game-board" id="game-board">
        {#            <div class="game-board__squared" id="1"></div>#}
        {#            <div class="game-board__squared" id="2"></div>#}
        {#            etc...#}
    </div>
{% endblock %}
