{% extends 'my_auth/base.html' %}
{% load static %}


{% block meta_data %}
    <script src="{% static 'game/js/game_lobby.js' %}?v={{ random_number }}"></script>
    <link rel="stylesheet" href="{% static 'game/css/game_lobby.css' %}">

{% endblock meta_data %}

{% block content %}
    <div class="wrapper">
        <div class="copywriter">
            <div class="copywriter_container">
                <div class="copywriter_title">
                    Copy the link to your game and share it with your friend
                </div>
                <div class="copywriter_url-container">
                    <div class="copywriter_url-wrapper">

                        <div class="copywriter_url">
                            {{ url }}
                        </div>
                        <div class="copywriter_alright-window">
                            Copied
                        </div>
                    </div>

                </div>
                <div class="copywriter_chat-container">
                    {{ chat }}
                </div>
            </div>
        </div>
    </div>



{% endblock content %}



