{% extends 'my_auth/base.html' %}
{% load static %}
{% block meta_data %}
    <link rel="stylesheet" href="{% static 'game/game_style.css' %}">
    <title>Game with ...</title>
    <script></script>
    <script defer src="{% static 'game/game.js' %}?v={{ random_value }}"></script>
{% endblock meta_data %}

{% block content %}
    <div class="wrapper">
        <div id="square-container">
            <!-- Контейнер для квадратов -->
        </div>
        {{ chat }}
    </div>


{% endblock content %}