{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'my_auth/css/base.css' %}?v=1.4">
    <title>Document</title>
    {% block meta_data %}{% endblock meta_data %}
    <style>

    </style>
</head>
<body>
<nav class="nav">
    <a href="#"><img class="nav__logo" src="{% static 'my_auth/img/logo.png' %}" alt="logo"></a>
    <div class="nav__bar">
        <a href="{% url 'game:local_game' %}">
            <div class="nav__menu-item">
                Local game
            </div>
        </a>
        <a href="{% url 'game:fast_game' %}">
            <div class="nav__menu-item">
                Seatch game
            </div>
        </a>
        <a href="{% url 'game:create_game' %}">
            <div class="nav__menu-item">
                Playing with a friend
            </div>
        </a>
{#        <a href="{% url 'game:game_with_bot' %}">#}
{#            <div class="nav__menu-item">#}
{#                Playing with a bot#}
{#            </div>#}
{#        </a>#}

    </div>
    <a class="user" href="{% url 'my_auth:login' %}">
        <div class="user__ava">

        </div>
        <div class="user__nickname">
            {{ user.username }}
        </div>
    </a>
</nav>
<div class="content">
    {% block content %}{% endblock content %}
</div>
<footer class="footer">

</footer>
</body>
</html>